@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Vazirmatn', sans-serif;
  direction: rtl;
  background: #f8fafc;
  color: #1e293b;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: inherit;
}
